@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:wght@300;400;500;600;700;800&display=swap');

* {
  padding: 0;
  margin: 0;
  list-style-type: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

$bg-color: #111445;

body {
  background-color: $bg-color;
  overflow-x: hidden;
}

button {
  cursor: pointer;
}

* {
    scrollbar-width: auto;
    scrollbar-color: #1f214c #080930;
}

*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: #080930;
}

*::-webkit-scrollbar-thumb {
    background-color: #1f214c;
    border-radius: 10px;
}
